<div>
  <div>Please fund your EUR account using the following bank instructions:</div>
  <div style="display: flex; justify-content: space-between; margin: 10px 0;">
    <div style="margin-right: 10px;width: calc(50% - 5px);">
      <b>BENEFICIARY BANK</b>
      <br> Swift / BIC: MIEGLT21XXX
      <br> Bank Name: UAB Mistertango
      <br> Address: Perkūnkiemio g. 2, Vilnius
      <br> Location: Lithuania, Vilnius
      <br>Country: Lithuania
    </div>
    <div style="width: calc(50% - 5px);">
      <b>FOR CREDIT TO</b>
      <br>Account name: Fintech United Pte. Ltd.
      <br>Address: 30 Cecil Street 19-08 Prudential Tower Singapore 049712
      <br>Acc#/IBAN: LT363510000012944554
      <br>Reference / Message: EBQ824685283
    </div>
  </div>
  <div>Please ensure you state your FUG account number in the reference field of the transfer in order to avoid delayed identification
    of the payment.</div>
</div>
