<div>
  <div>Please fund your USD account using the following bank instructions:</div>
  <div style="display: flex; justify-content: space-between; margin: 10px 0;">
    <div style="margin-right: 10px;width: calc(50% - 5px);">

      <b>BENEFICIARY BANK</b>
      <br>Swift / BIC: CIALCHBB
      <br>Bank Name: CIC Bank (Suisse) SA
      <br>Address: Marktplatz 13, 4001 Basel
      <br>Location: Geneva
      <br>Country: Switzerland
    </div>
    <div style="width: calc(50% - 5px);">
      <b>FOR CREDIT TO</b>
      <br>Account name: Payment Corner (Suisse) SA
      <br>Address: 118 rue du Rhône, 1204 Genève
      <br>Acc#/IBAN: CH10 0871 0041 0282 3202 1
      <br>Reference / Message: EBQ504912296
    </div>
  </div>
  <div>Please ensure the reference code 4102823.2021 + EBQ504912296 is included in the reference field of the transfer in order
    to avoid delayed identification of the payment.</div>
</div>
