<mat-drawer-container fullscreen *ngIf="showMainContainer">
    <mat-drawer #start mode="push" class="example-container">

        <mat-nav-list>
            <app-client-info *ngIf="isUserLoggedIn"></app-client-info>
            <a mat-list-item routerLinkActive #routerLinkActiveInstance="routerLinkActive" [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1" *ngIf="!isUserLoggedIn" [routerLink]="['/login']" (click)="start.close()">
                <mat-icon mat-list-icon class="mat-24">account_circle</mat-icon>
                <span mat-line>{{'mainMenu.Login' | translate}}</span>
            </a>

            <!-- <a mat-list-item routerLinkActive #routerLinkActiveInstance="routerLinkActive" [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1"
        href="http://www.data-trading.com/" (click)="start.close()">
        <mat-icon mat-list-icon>home</mat-icon>
        <span mat-line>{{'mainMenu.Home' | translate}}</span>
      </a> -->
            <a mat-list-item target="_blank" href="http://www.racoin.io/" (click)="start.close()">
                <mat-icon mat-list-icon>info</mat-icon>
                <span mat-line>Web site</span>
            </a>
            <a *ngIf="isUserLoggedIn" mat-list-item routerLinkActive #routerLinkActiveInstance="routerLinkActive" [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1" [routerLink]="['/transfer']" [attr.class]="'mat-list-item '+(routerLinkActiveInstance.isActive ? 'disabled' : '')"
                (click)="start.close()">
                <mat-icon mat-list-icon>swap_horiz</mat-icon>
                <span mat-line>{{'mainMenu.Transfer' | translate}}</span>
            </a>
            <a *ngIf="isUserLoggedIn" mat-list-item routerLinkActive #routerLinkActiveInstance="routerLinkActive" [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1" [routerLink]="['/dashboard']" [attr.class]="'mat-list-item '+(routerLinkActiveInstance.isActive ? 'disabled' : '')"
                (click)="start.close()">
                <mat-icon mat-list-icon>dashboard</mat-icon>
                <span mat-line>{{'mainMenu.Dashboard' | translate}}</span>
            </a>
            <a mat-list-item routerLinkActive #routerLinkActiveInstance="routerLinkActive" [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1" [routerLink]="['/faq']" [attr.class]="'mat-list-item '+(routerLinkActiveInstance.isActive ? 'disabled' : '')" (click)="start.close()">
                <mat-icon mat-list-icon>help</mat-icon>
                <span mat-line>{{'mainMenu.Faq' | translate}}</span>
            </a>

        </mat-nav-list>
        <!--<hr />
    <button mat-button (click)="start.close()">Close</button>-->
    </mat-drawer>
    <mat-toolbar color="primary">

        <button *ngIf="isTab" class="side-menu-btn" mat-icon-button (click)="start.open()">
      <mat-icon>menu</mat-icon>
    </button>

        <div class="main-toolbar">
            <!-- <h2>{{appTitle}}</h2> -->
            <!-- <a target="_blank" href="https://data-trading.com"><img src="assets/img/logo.svg" style="width: 120px;"></a> -->

            <div class="logo"> <img src="assets/img/logo.svg" style="width: 35px;">RAcoin</div>

            <ng-container *ngIf="!isTab">

                <a target="_blank" href="http://www.racoin.io/">
                    <button mat-button>
                        <mat-icon>info</mat-icon><span>Web site</span>
                    </button>
                </a>

                <button *ngIf="isUserLoggedIn" mat-button [disabled]="routerLinkActiveInstance.isActive" [routerLink]="['/dashboard']" routerLinkActive #routerLinkActiveInstance="routerLinkActive" [attr.class]="'mat-button '+(routerLinkActiveInstance.isActive ? 'active' : '')">
                    <mat-icon>dashboard</mat-icon>
                    <span>{{'mainMenu.Dashboard' | translate}}</span>
                  </button>
                <button *ngIf="isUserLoggedIn" [routerLink]="['/transfer']" mat-button [disabled]="routerLinkActiveInstance.isActive" routerLinkActive #routerLinkActiveInstance="routerLinkActive" [attr.class]="'mat-button '+(routerLinkActiveInstance.isActive ? 'active' : '')">
                    <mat-icon>swap_horiz</mat-icon>
                    <span>{{'mainMenu.Transfer' | translate}}</span>
                  </button>
                <button mat-button [routerLink]="['/faq']" routerLinkActive #routerLinkActiveInstance="routerLinkActive" [disabled]="routerLinkActiveInstance.isActive" [attr.class]="'mat-button '+(routerLinkActiveInstance.isActive ? 'active' : '')">
                    <mat-icon>help</mat-icon>
                    <span>{{'mainMenu.Faq' | translate}}</span>
                  </button>
                <button *ngIf="isUserLoggedIn" mat-button [mat-menu-trigger-for]="userMenu">
                    <mat-icon>account_circle</mat-icon>
                    <span>{{userName}}</span>
                  </button>
                <mat-menu #userMenu="matMenu">
                    <app-client-info></app-client-info>
                </mat-menu>
                <button *ngIf="!isUserLoggedIn" [routerLink]="['/login']" mat-button>
                    <mat-icon>account_circle</mat-icon>
                    <span>{{'mainMenu.Login' | translate}}</span>
                  </button>

            </ng-container>


        </div>
    </mat-toolbar>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>

    <mat-toolbar class="footer" color="primary">
        <div class="main-content">
            <div>
                <!-- <div class="block">
                    <img class="icon" src="assets/img/phone-call.svg">
                    <div style="padding-top: 10px;">
                        <a href="tel:+380934142932">+38 (093) 414 29 32</a>
                        <div>info@data-trading.com</div>
                    </div>
                </div>
                <div class="block">
                    <img class="icon" src="assets/img/placeholder.svg">
                    <div style="padding-top: 10px;">
                        <div>Ukraine, Kiyv City</div>
                        <div>Vozdvyzhens'ka St, 36</div>
                    </div>
                </div>
                <div class="block">
                    <img class="icon" src="assets/img/placeholder.svg">
                    <div style="padding-top: 5px;">
                        <div>China, Shenzhen City, Futian Fuhua 3 Street,</div>
                        <div>Rongchao international Business Center,</div>
                        <div>Room 4601</div>
                    </div>
                </div> -->
                <div class="right">
                    <img class="icon" src="assets/img/logo.svg" style="width: 55px;">
                    <div class="copyright">&#169; {{year}}</div>
                </div>
            </div>

        </div>
    </mat-toolbar>
</mat-drawer-container>

<div *ngIf="!showMainContainer">
    <router-outlet></router-outlet>
</div>