<mat-card>
  <mat-card-title>
    <mat-icon>lock</mat-icon>
    <span>Enter your new password</span>
  </mat-card-title>
  <mat-card-content>
    <form name="resetPassWordForm" #f="ngForm" novalidate (ngSubmit)="OnSubmit()">
      <mat-form-field>
        <input matInput type="password" autocomplete="off" #password="ngModel" name="password" placeholder="Enter password" [(ngModel)]="resetPassWordForm.password"
          required reverse="true" validateEqual="confirmPassword" minlength="8" pattern="^((?=.*\d)(?=.*[a-z])(?=.*[A-Z])).{8,}$"
        />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" autocomplete="off" #confirmPassword="ngModel" name="confirmPassword" placeholder="Confirm password"
          [(ngModel)]="resetPassWordForm.confirmPassword" required reverse="false" validateEqual="password" />
      </mat-form-field>
      <div class="errors">
        <div *ngIf="password.invalid && (password.dirty || password.touched)">
          <p *ngIf="password.errors.required">
            New password is
            <strong>required</strong>
          </p>
          <p *ngIf="password.errors.minlength">Min length is 8</p>
          <p *ngIf="password.errors.pattern">
            New password must contain: 1 UpperCase Alphabet,
            <br /> 1 LowerCase Alphabet, 1 Number
          </p>
        </div>

        <p *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"> Password mismatch</p>
        <p *ngIf="errorMsg">{{errorMsg}}</p>
      </div>
      <div>
        <button type="submit" [disabled]="!f.form.valid || isLoading" mat-raised-button color="primary">
          <mat-icon *ngIf="isLoading" class="rotate" aria-hidden="true">autorenew</mat-icon>
          <span>{{'buttons.Edit' | translate}}</span>
        </button>
      </div>
    </form>
  </mat-card-content>

</mat-card>
