<mat-card>
    <mat-card-title>
        <mat-icon>lock</mat-icon>
        <span>Change your password</span>
    </mat-card-title>
    <mat-card-content>
        <form name="ChangePasswordForm" #f="ngForm" novalidate (ngSubmit)="OnSubmit()">
            <mat-form-field>
                <input matInput type="password" autocomplete="off" #oldPw="ngModel" name="oldPw" placeholder="Enter old password" [(ngModel)]="changePassWordForm.oldPassword" required />
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" autocomplete="off" #password="ngModel" name="password" placeholder="Enter new password" [(ngModel)]="changePassWordForm.password" required reverse="true" validateEqual="confirmPassword" minlength="1" />
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" autocomplete="off" #confirmPassword="ngModel" name="confirmPassword" placeholder="Confirm password" [(ngModel)]="changePassWordForm.confirmPassword" required reverse="false" validateEqual="password" />
            </mat-form-field>
            <div class="errors">
                <div *ngIf="oldPw.invalid && (oldPw.dirty || oldPw.touched)">

                    <p *ngIf="oldPw.errors.required">
                        Password is
                        <strong>required</strong>
                    </p>
                </div>
                <div *ngIf="password.invalid && (password.dirty || password.touched)">
                    <p *ngIf="password.errors.required">
                        New password is
                        <strong>required</strong>
                    </p>
                    <!-- <p *ngIf="password.errors.minlength">Min length is 1</p> -->
                    <!-- <p *ngIf="password.errors.pattern"> -->
                    <!-- New password must contain: 1 UpperCase Alphabet, -->
                    <!-- <br /> 1 LowerCase Alphabet, 1 Number -->
                    <!-- </p> -->
                </div>

                <p *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"> Password mismatch</p>
                <p *ngIf="errorMsg">{{errorMsg}}</p>
            </div>
            <div>
                <button type="submit" [disabled]="!f.form.valid || isLoading" mat-raised-button color="primary">
          <mat-icon *ngIf="isLoading" class="rotate" aria-hidden="true">autorenew</mat-icon>
          <span>{{'buttons.Edit' | translate}}</span>
        </button>
            </div>
        </form>
    </mat-card-content>

</mat-card>