$navbar-default-bg: #312312;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;

/* Import Bootstrap & Fonts */

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* *** Overall APP Styling can go here ***
   --------------------------------------------
   Note: This Component has ViewEncapsulation.None so the styles will bleed out

*/

.mat-raised-button {
  &.btn-danger {
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19;
  }
}

register-rules-dialog {
  display: block;
  max-width: 600px;
  .mat-checkbox-layout {
    white-space: initial;
  }
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif; // Helps fonts on OSX looks more consistent with other systems
  // Isn't currently in button styles due to performance concerns
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .vertical-center-flex {
    min-height: 80vh;
    display: flex;
    align-items: center;
  }
  .mat-sidenav {
    min-width: 15vw;
    .mat-button {
      width: 100%;
      position: relative;
      bottom: 0;
      margin: 24px 0;
    }
  }
  .mat-toolbar {
    a {
      color: white;
      text-decoration: none;
    }
    .mat-icon {
      cursor: pointer;
    }
    .main-toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
  h1 {
    font-size: 20px;
  }
}

// stretch to screen size in fullscreen mode
// .demo-content {
//   width: 100%;
//   height: 100%;
//   box-sizing: border-box;
// }
#toasty {
  .toast {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  }
  &.toasty-position-top-right {
    top: auto;
    bottom: 0;
  }
}

.main-content {
  padding: 10px;
  margin: 0px auto;
  width: 1024px;
  box-sizing: border-box;
}

.footer {
  bottom: 0;
  z-index: 2;
  &.mat-toolbar {
    .mat-toolbar-row {
      height: auto;
      white-space: normal;
    }
  }
  .main-content {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    .block {
      font-size: 12px;
      display: inline-flex;
      height: 50px;
      line-height: normal;
      margin-right: 85px;
      .icon {
        width: 30px;
        margin-right: 10px;
      }
    }
    .right {
      display: inline-flex;
      font-size: 12px;
      height: 50px;
      .icon {
        width: 80px;
        margin-right: 5px;
      }
      .copyright {
        top: 15px;
        position: relative;
      }
    }
  }
}

.qrCode {
  img {
    display: none !important;
  }
  canvas {
    display: initial !important;
  }
}

@media (max-width: 1024px) {
  .main-content {
    width: 767px;
  }
  .footer {
    .main-content {
      .block {
        margin-right: 0;
      }
    }
  }
}

.rotate {
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (max-width: 767px) {
  .main-content {
    width: 100%;
  }
  body {
    background: #f1f1f1;
    line-height: 18px;
    padding-top: 30px;
  }
  h1 {
    border-bottom: 3px #4189C7 solid;
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  h1,
  h2,
  h3 {
    padding: 3px 0;
  }
}

@media (min-width: 768px) {
  body {
    background: #f1f1f1;
    line-height: 18px;
    padding-top: 0px;
  }
  h1 {
    border-bottom: 5px #4189C7 solid;
    font-size: 36px;
  }
  h2 {
    font-size: 30px;
  }
  h1,
  h2,
  h3 {
    padding: 10px 0;
  }
}

ul {
  padding: 10px 25px;
}

ul li {
  padding: 5px 0;
}

blockquote {
  margin: 25px 10px;
  padding: 10px 35px 10px 10px;
  border-left: 10px #158a15 solid;
  background: #edffed;
}

blockquote a,
blockquote a:hover {
  color: #068006;
}