<mat-card>
  <p>CRS tokens will be created by Ethereum smart contract right after the token sale will be completed. You will be able to transfer
    tokens to any wallet supporting ERC20 standard.
  </p>
  <p>
    Please note: Tokens will be distributed ONLY to users who successfully passed KYC. 
    <!-- To pass KYC please follow the link. -->
  </p>
  <mat-form-field>
    <input matInput placeholder="ETH address" [(ngModel)]="ethAddress">

  </mat-form-field>

  <button type="submit" (click)="update()" mat-raised-button color='primary'>{{'buttons.Save' | translate}}</button>
</mat-card>
