@import '~@angular/material/theming';
@include mat-core();
$light-primary-text: #19181e;
// $mat-black: ( 50: #fafafa, 100: #f5f5f5, 200: #f1f3ff, 300: #e0e0e0, 400: #fafafa, 500: #fd6592, 600: #f1f3ff, 700: #f1f3ff, 800: #f1f3ff, 900: #606eac, A100: #f1f3ff, A200: #f1f3ff, A400: #f1f3ff, A700: #f1f3ff, contrast: ( 50: $dark-primary-text, 100: $dark-primary-text, 200: $dark-primary-text, 300: $light-primary-text, 400: $light-primary-text, 500: $light-primary-text, 600: $light-primary-text, 700: $light-primary-text, 800: $light-primary-text, 900: $light-primary-text, A100: $dark-primary-text, A200: $light-primary-text, A400: $light-primary-text, A700: $light-primary-text, ));
$mat-black: ( 50: #f1f3ff, 100: #f1f3ff, 200: #f1f3ff, 300: #e0e0e0, 400: #f1f3ff, 500: #e5dcfa, 600: #f1f3ff, 700: #f1f3ff, 800: #f1f3ff, 900: #606eac, A100: #f1f3ff, A200: #f1f3ff, A400: #f1f3ff, A700: #fafafa, contrast: ( 50: $dark-primary-text, 100: $dark-primary-text, 200: $dark-primary-text, 300: $light-primary-text, 400: $light-primary-text, 500: $light-primary-text, 600: $light-primary-text, 700: $light-primary-text, 800: $light-primary-text, 900: $light-primary-text, A100: $dark-primary-text, A200: $light-primary-text, A400: $light-primary-text, A700: $light-primary-text, ));
// Define an alternate dark theme.
$dark-primary: mat-palette($mat-black);
$dark-accent: mat-palette($mat-amber, A200, A100, A300);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'), url(../../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'), url(../../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.crystals-theme {
  @include angular-material-theme($dark-theme);
  .mat-drawer-container {
    background: #f1f3ff;
    background-position-y: bottom;
    background-image: url('/assets/img/3.svg');
    background-repeat: no-repeat;
  }
  .mat-dialog-container {
    background: #ebeeff;
    color: black;
  }
  .mat-card {
    background-color: #fafafa; //#2b2b2b;
    color: #19181e;
  } // .mat-toolbar-row,
  // .mat-toolbar-single-row {
  //     height: auto;
  // }
  .mat-menu-content {
    padding-top: 0px;
    padding-bottom: 8px;
  }
  .mat-checkbox-checked.mat-primary .mat-checkbox-background {
    background-color: #fc537f;
  }
  .black-gold-theme .mat-progress-bar-fill::after {
    background-color: #fc537f;
  }
  .mat-toolbar a {
    color: #19181e;
  }
  .crystals-theme .mat-button .active {
    color: red;
  }
  .btn-danger {
    background-color: #222;
  }
  .mat-input-element {
    // caret-color: rgba(255, 255, 255, 0.7) ;
    // caret-color: #e5dcfa ;
  }
  .mat-form-field-invalid .mat-input-element {
    // caret-color: #ff5722 ;
  }
  .mat-form-field-label {
    color: #e5dcfa;
  }
  .mat-form-field-invalid .mat-form-field-label {
    color: #ff5722;
  }
  .mat-form-field-ripple {
    background-color: #e5dcfa;
  }
  .mat-form-field-invalid .mat-form-field-ripple {
    background-color: #ff5722;
  }
  .mat-form-field-underline {
    background-color: #e5dcfa;
  }
  .mat-menu-item {
    background-color: #e5dcfa;
    color: #19181e;
  }
  .mat-menu-panel {
    background-color: #e5dcfa;
  }
  .mat-raised-button.mat-primary[disabled],
  .mat-raised-button.mat-accent[disabled],
  .mat-raised-button.mat-warn[disabled],
  .mat-raised-button[disabled][disabled],
  .mat-fab.mat-primary[disabled],
  .mat-fab.mat-accent[disabled],
  .mat-fab.mat-warn[disabled],
  .mat-fab[disabled][disabled],
  .mat-mini-fab.mat-primary[disabled],
  .mat-mini-fab.mat-accent[disabled],
  .mat-mini-fab.mat-warn[disabled],
  .mat-mini-fab[disabled][disabled] {
    background-color: #fc537f;
  }
  .mat-raised-button,
  .mat-fab,
  .mat-mini-fab {
    &.mat-primary {
      color: white;
      background-color: #fc537f;
    }
    color: white;
    background-color: #fc537f;
  }
  .mat-checkbox-frame {
    border-color: #fc537f;
  }
  .mat-checkbox-checkmark-path {
    stroke: white !important;
  }
  .mat-raised-button {
    border-radius: 28px;
  }
}
