// $main-color: #67ce97;
// // $main-color: #93bd72;
// body {
//   .mat-toolbar {
//     &.mat-primary {
//       background: white;
//       color: #718583;
//       box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
//     }
//     a {
//       // color: $main-color;
//       color: #718583;
//       text-decoration: none;
//     }
//   }
// }
// .mat-progress-bar-buffer {
//   background-color: rgba(103, 206, 151, 0.53);
// }
// .mat-tab-group.mat-background-primary .mat-tab-header,
// .mat-tab-group.mat-background-primary .mat-tab-links,
// .mat-tab-nav-bar.mat-background-primary .mat-tab-header,
// .mat-tab-nav-bar.mat-background-primary .mat-tab-links,
// .mat-tab-link {
//   background-color: $main-color;
// }
// .mat-tab-group.mat-background-primary .mat-tab-label,
// .mat-tab-group.mat-background-primary .mat-tab-link,
// .mat-tab-nav-bar.mat-background-primary .mat-tab-label,
// .mat-tab-nav-bar.mat-background-primary .mat-tab-link,
// .mat-tab-group.mat-background-primary .mat-tab-label.mat-tab-disabled,
// .mat-tab-group.mat-background-primary .mat-tab-link.mat-tab-disabled,
// .mat-tab-nav-bar.mat-background-primary .mat-tab-label.mat-tab-disabled,
// .mat-tab-nav-bar.mat-background-primary .mat-tab-link.mat-tab-disabled,
// .mat-tab-link {
//   opacity: 1;
// }
// .mat-progress-spinner circle,
// .mat-spinner circle {
//   stroke: $main-color;
// }
// .mat-progress-bar-fill::after {
//   background-color: none;
//   background: linear-gradient(to right, #a1e276, #30b9ad);
// }
// .second {
//   .mat-progress-bar {
//     border-radius: 10px;
//     border: 1px solid #a1e276;
//     height: 10px;
//   }
//   .mat-progress-bar-buffer {
//     background-color: initial;
//   }
// }
// .mat-checkbox-checked.mat-primary .mat-checkbox-background,
// .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background {
//   background-color: $main-color;
// }
// .mat-fab.mat-primary,
// .mat-mini-fab.mat-primary,
// .mat-raised-button.mat-primary {
//   background-color: $main-color;
// }
// .third {
//   .block {
//     .left {
//       .item {
//         &.mat-raised-button {
//           border-bottom: 1px solid $main-color;
//           border-right: 2px solid $main-color;
//           transition: border 200ms, box-shadow 200ms;
//           &.active {
//             box-shadow: none; // border: 1px solid rgba(0, 0, 0, .2);
//             border: none;
//           }
//         }
//       }
//     }
//   }
// }
// .mat-icon {
//   color: $main-color;
// }
// .mat-menu-item .mat-icon,
// .mat-menu-item-submenu-trigger::after {
//   color: $main-color;
// }
// .mat-list-item {
//   &.active {
//     color: $main-color;
//   }
// }
@import '~@angular/material/theming';
@include mat-core();
$light-primary-text: #9d9d9d;
$mat-black: ( 50: #fafafa, 100: #f5f5f5, 200: #eeeeee, 300: #e0e0e0, 400: #bdbdbd, 500: #222, 600: #757575, 700: #616161, 800: #424242, 900: #212121, A100: #ffffff, A200: #eeeeee, A400: #bdbdbd, A700: #616161, contrast: ( 50: $dark-primary-text, 100: $dark-primary-text, 200: $dark-primary-text, 300: $light-primary-text, 400: $light-primary-text, 500: $light-primary-text, 600: $light-primary-text, 700: $light-primary-text, 800: $light-primary-text, 900: $light-primary-text, A100: $dark-primary-text, A200: $light-primary-text, A400: $light-primary-text, A700: $light-primary-text, ));
// Define an alternate dark theme.
$dark-primary: mat-palette($mat-black);
$dark-accent: mat-palette($mat-amber, A200, A100, A300);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(../../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'), url(../../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'), url(../../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.black-gold-theme {
    @include angular-material-theme($dark-theme);
    .mat-drawer-container {
        background: none;
        background-image: url('/assets/img/main-background.jpg');
    }
    .mat-card {
        background-color: #2b2b2b;
    }
    .mat-toolbar-row,
    .mat-toolbar-single-row {
        height: auto;
    }
    .mat-menu-content {
        padding-top: 0px;
        padding-bottom: 8px;
    }
}