$main-color: #67ce97;
// $main-color: #93bd72;
body {
  .mat-toolbar {
    &.mat-primary {
      background: white;
      color: #718583;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    }
    a {
      // color: $main-color;
      color: #718583;
      text-decoration: none;
    }
  }
}

.mat-progress-bar-buffer {
  background-color: rgba(103, 206, 151, 0.53);
}

.mat-tab-group.mat-background-primary .mat-tab-header,
.mat-tab-group.mat-background-primary .mat-tab-links,
.mat-tab-nav-bar.mat-background-primary .mat-tab-header,
.mat-tab-nav-bar.mat-background-primary .mat-tab-links {
  background-color: $main-color;
}

.mat-tab-group.mat-background-primary .mat-tab-label,
.mat-tab-group.mat-background-primary .mat-tab-link,
.mat-tab-nav-bar.mat-background-primary .mat-tab-label,
.mat-tab-nav-bar.mat-background-primary .mat-tab-link,
.mat-tab-group.mat-background-primary .mat-tab-label.mat-tab-disabled,
.mat-tab-group.mat-background-primary .mat-tab-link.mat-tab-disabled,
.mat-tab-nav-bar.mat-background-primary .mat-tab-label.mat-tab-disabled,
.mat-tab-nav-bar.mat-background-primary .mat-tab-link.mat-tab-disabled {
  opacity: 1;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: $main-color;
}

.mat-progress-bar-fill::after {
  background-color: none;
  background: linear-gradient(to right, #a1e276, #30b9ad);
}

.second {
  .mat-progress-bar {
    border-radius: 10px;
    border: 1px solid #a1e276;
    height: 10px;
  }
  .mat-progress-bar-buffer {
    background-color: initial;
  }
}

.mat-checkbox-checked.mat-primary .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background {
  background-color: $main-color;
}

.mat-fab.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  background-color: $main-color;
}

.third {
  .block {
    .left {
      .item {
        &.mat-raised-button {
          border-bottom: 1px solid $main-color;
          border-right: 2px solid $main-color;
          transition: border 200ms, box-shadow 200ms;
          &.active {
            box-shadow: none; // border: 1px solid rgba(0, 0, 0, .2);
            border: none;
          }
        }
      }
    }
  }
}

.mat-icon {
  color: $main-color;
}

.mat-menu-item .mat-icon,
.mat-menu-item-submenu-trigger::after {
  color: $main-color;
}

.mat-list-item {
  &.active {
    color: $main-color;
  }
}
