<div>
  <md-card class="first">
    <md-card-content>
      <h4>{{'clientInfo.Balance' | translate}}:
        <p>{{clientInfoService.clientInfo.balance}} DTT</p>
      </h4>

      <div>

      </div>
      <div class="ether-addres">
        <div>{{'clientInfo.MyEtherAddress' | translate}}</div>
        867414845648974548974874815489464
      </div>
    </md-card-content>
  </md-card>
  <md-card class="second">
    <md-card-content>
      <div class="left">
        <div class="item">
          <div class="color-block"></div>
          <div class="value">2890</div>
          <div class="title">{{'clientInfo.TotalInvestors' | translate}}</div>
        </div>
        <div class="item">
          <div class="color-block"></div>
          <div class="value">2824290.76</div>
          <div class="title">{{'clientInfo.TotalUSD' | translate}}</div>
        </div>
        <div class="item">
          <div class="color-block"></div>
          <div class="value">2342342423 DTT</div>
          <div class="title">{{'clientInfo.TotalCoins' | translate}}</div>
        </div>
      </div>
      <div class="right">

        <div style="margin-bottom: 25px;">
          {{'clientInfo.IcoHasStarted' | translate}}
        </div>
        <div style="margin-bottom: 30px;">
          <p>{{'clientInfo.TotalInvestments' | translate}} - 22%</p>
          2.24556544 BTC / 10BTC
        </div>
        <div>
          <md-progress-bar mode="determinate" [value]="30" [color]="primary">
          </md-progress-bar>
        </div>
        <div>

        </div>
      </div>
    </md-card-content>

  </md-card>
  <md-card class="third">
    <md-card-content>
      <div class="title">{{'clientInfo.ChoosePaymentMethod' | translate}}</div>
      <div class="block">
        <div class="left">
          <button (click)="changePayment(type.currency)" [attr.class]="selectedPaymentType!=type.currency?'item mat-button':'item mat-raised-button'"
            md-button *ngFor="let type of paymentTypes">
            <!-- <img class="currency-icon" [src]="type.image"> -->
            <div class="currency-icon"></div>
            <div class="value">{{type.currency}}</div>
            <div class="title">{{type.value}}</div>
          </button>
        </div>
        <div class="right">
          <div id="qrCode" class="qrCode"></div>
          <div>
            <md-form-field>
              <input mdInput name="example" type="text">
              <button color="primary" md-raised-button>Submit</button>
            </md-form-field>
          </div>
        </div>
      </div>
    </md-card-content>
  </md-card>
  <md-card class="fourth">
       
    <md-card-content>
      <div class="info">
            dashboard Component
      </div>
    </md-card-content>
  </md-card>
  <!-- <md-card class="fifth" >dashboard Component</md-card> -->
</div>
<div>

</div>
