<div>
  <mat-card class="first">
    <mat-card-content>
      <h4>{{'clientInfo.Balance' | translate}}:
        <p style="font-size: 35px;
        font-weight: bold;">{{clientInfo.balance}} DTT</p>
      </h4>
      <p *ngIf="clientInfo.bonusBalance>0" style="font-size: 18px;">+ {{clientInfo.bonusBalance}} DTT bonuses</p>
      <div>

      </div>
      <div class="ether-addres" style="display:none">
        <div>{{'clientInfo.MyEtherAddress' | translate}}:</div>
        0xca30e63200a0fe3182dc61fc5605efc41456f32
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="second">
    <mat-card-content>
      <div class="right">
        <div style="margin-top: 0;margin-bottom: 26px;font-weight: bold; font-size: 18px;"> PRE-ORDER
          <br/> IS IN PROGRESS </div>
        <p style="font-size: 20px;">Bonus 30% </p>
        <!-- <div style="margin-bottom: 25px;">
          {{'clientInfo.IcoHasStarted' | translate}}
        </div>
        <div style="margin-bottom: 30px;">
          <p>{{'clientInfo.TotalInvestments' | translate}} &#8212; {{icoInfo.totalCoinsBoughtPercent}} %</p>
          {{icoInfo.totalCoinsBought}} / {{icoInfo.totalCoins}} DTT
        </div>
        <div>
          <mat-progress-bar mode="determinate" [value]="icoInfo.totalCoinsBoughtPercent" [color]="'primary'">
          </mat-progress-bar>
        </div> -->
      </div>
      <div class="left">
        <div class="item">
          <!-- <div class="color-block"></div> -->
          <img class="color-block" src="/img/avatar.svg">
          <!-- <img class="color-block" src="/img/btc.png"> -->
          <div class="value">{{icoInfo.totalInvestors}}</div>
          <div class="title">{{'clientInfo.TotalInvestors' | translate}}</div>
        </div>
        <div class="item">
          <img class="color-block" src="/img/wallet.svg">
          <div class="value">{{icoInfo.totalUsdInvested}}</div>
          <div class="title">{{'clientInfo.TotalUSD' | translate}}</div>
        </div>
        <div class="item">
          <img class="color-block" src="/img/coin.svg">
          <div class="value">{{icoInfo.totalCoinsBought}} DTT</div>
          <div class="title">{{'clientInfo.TotalCoins' | translate}}</div>
        </div>
      </div>

    </mat-card-content>

  </mat-card>
  <mat-card class="third">
    <mat-card-content>
      <div class="title">{{'clientInfo.ChoosePaymentMethod' | translate}}</div>
      <div class="block">
        <div class="left">
          <button (click)="changePayment(type)" [attr.class]="selectedPaymentType.currency==type.currency?'item mat-raised-button':'item mat-raised-button active'"
            mat-button *ngFor="let type of paymentTypes">
            <img class="currency-icon" [src]="type.image">
            <!-- <div class="currency-icon"></div> -->
            <div class="value">{{type.currency}}</div>
            <div class="title">1 {{type.currency}} = {{type.rate}} DTT</div>

          </button>
        </div>
        <div class="right">
          <div *ngIf="!clientInfo.isTokenSaleDisabled && !icoInfo.isTokenSaleDisabled">
            <p>Send your {{selectedPaymentType.currency}} to this address</p>
            <div id="qrCode" class="qrCode"></div>
            <div>
              <mat-form-field>
                <input matInput #address name="example" [value]="selectedPaymentType.address" type="text">
              </mat-form-field>
              <button [color]="'primary'" [ngxClipboard]="address" (cbOnSuccess)="isCopied = true" mat-raised-button>{{(!isCopied?'buttons.Copy':'buttons.Copied') | translate}}</button>
            </div>
          </div>
          <div *ngIf="clientInfo.isTokenSaleDisabled || icoInfo.isTokenSaleDisabled">
            <p>Sorry, payment is not available at this time.
            </p>
            If you have any questions you can contact with us at
            <a href="mailto:support@data-trading.com">support@data-trading.com</a>
          </div>

        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="fourth">

    <mat-card-content>
      <div class="info">
        <div class="info-container">
          <div class="header">Payment method:
            <b>{{selectedPaymentType.currency}}</b>
          </div>
          <div class="header">How to use:</div>
          <div [innerHTML]="selectedPaymentType.faq"></div>
        </div>

      </div>


    </mat-card-content>
  </mat-card>
  <!-- <mat-card class="fifth" >dashboard Component</mat-card> -->
</div>
<div>

</div>