<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" startupTimeLimit="3600" requestTimeout="23:00:00" />
    <httpErrors existingResponse="Auto" errorMode="Custom" defaultResponseMode="File">
      <remove statusCode="503" subStatusCode="-1" />
      <error statusCode="503" path="maintenance.html" />
    </httpErrors>
    <rewrite>
      <rules>
        <rule name="SiteDown" enabled="false" stopProcessing="true">
          <match url=".*" />
          <action type="CustomResponse" statusCode="503" statusReason="Down for maintenance" statusDescription="will be back up soon" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
<!--ProjectGuid: 1502d3ec-3a93-4914-b0f7-dc6e17e779f3-->