<mat-card>
  <!-- <mat-card-content [innerHTML]="'app.FAQ' | translate"> -->
  <mat-card-content>
    <h2>FAQ</h2>

    <div>
      <b> What is CRS?</b>
    </div>
    <span>The CRS is a secure decentralized cryptocurrency that was developed by the Crystals team and serves as the sole payment
      method used within the CRYSTALS Ecosystem.</span>
    <p></p>
    <div>
      <b>How referral program works?</b>
    </div>
    <span>Instead of rewarding you for inviting new participants in tokens, we have a much better proposition: share your referral
      link among friend and receive 3% of their deposits in original cryptocurrency (BTC of ETH)</span>
    <p></p>


    <div>
      <b>What is a schedule of token sale?</b>
    </div>
    <span>Crowdsale of CRYSTASL (CRS) will be conducted in two stages:
      <ul>
        <li>Pre-sale May 29, 2018 – June 12, 2018</li>
        <li>Token sale: June 19, 2018 – July 19, 2018</li>
      </ul>
    </span>
    <p></p>
    <div>
      <b>Do I need to pass KYC? </b>
    </div>
    <span>Yes, you will not be able to receive CRS tokens without successful KYC.</span>
    <p></p>
    <div>
      <b>Do I need to open an Ethereum wallet to participate in pre-sale/token sale?</b>
    </div>
    <span>Yes, you need to have your Ethereum wallet in order to collect tokens. You can find an instruction here or address your
      questions to our friendly <a href="https://t.me/crystals_eng" target="_blank">support</a>.</span>
    <p></p>
    <div>
      <b>What if I already have an Ethereum wallet and want to have CRS tokens on it?</b>
    </div>
    <span> You can use any of your ERC-20 supported wallets.</span>
    <p></p>
    <div>
      <b>When will tokens be distributed</b>
    </div>
    <span>Tokens will be distributed after the end of the token sale. Please note: Tokens will be distributed ONLY to users who
      successfully passed KYC.
      <!-- To pass KYC please follow the link. -->
    </span>
    <p></p>
    <div>
      <b> How CRS Token will be created?</b>
    </div>
    <span> The CRS Token is an ERC20 Token created on the Ethereum blockchain.</span>
    <p></p>
    <div>
      <b>What payment options do you have?</b>
    </div>
    <span> BTC, ETH, Wire Transfer</span>
    <p></p>
    <div>
      <b>What limits does token sale have?</b>
    </div>
    <span> 247 000 000 CRS</span>
    <p></p>
    <div>
      <b>Do you have an airdrop?</b>
    </div>
    <span>Yes, please use our Telegram Bot (@crystals_airdropbot) for airdrop participation. Airdrop tokens will be distributed
      after token sale (July 19).</span>
    <p></p>
    <div>
      <b>Can I see CRS the Smart-contract?</b>
    </div>
    <span>The smart contract is available at   <a href="https://github.com/crystalslove/" target="_blank">here</a> </span>
    <p></p>
    <div>
      <b>More information available at:</b>
    </div>
    <div>Facebook:
      <a href="https://www.facebook.com/223869261716130/">https://www.facebook.com/223869261716130/</a>
    </div>
    <div>Twitter:
      <a href="https://twitter.com/Crystals_io">https://twitter.com/Crystals_io</a>
    </div>
    <div>Bitcointalk:
      <a href="https://bitcointalk.org/index.php?topic=3775626.0">https://bitcointalk.org/index.php?topic=3775626.0</a>
    </div>
    <div>Reddit:
      <a href="https://www.reddit.com/r/Crystals_io">https://www.reddit.com/r/Crystals_io</a>
    </div>



  </mat-card-content>
  <!-- 
  <div style="width: 800px;" *ngFor="let pic of pictures">
    <img style="width: 100%; " [src]="getImage(pic.Photo)">
    <div>Email: {{pic.Email}} Name: {{pic.Name}} Phone: {{pic.Phone}}</div>
  </div> -->
</mat-card>
