.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.mat-card {
  padding-bottom: 0;
  border-radius: 0;
  background: #e5dcfa;
  color: black;
  .mat-card-subtitle {
    color: black;
  }
}

hr {
  margin: 0;
}
