<div class="vertical-center-flex">
  <div class="login-container center-block">
    <nav mat-tab-nav-bar aria-label="navigation links" [backgroundColor]="'primary'">

      <a mat-tab-link [active]="true">
        {{'buttons.Login' | translate}}
      </a>
      <a mat-tab-link [routerLink]="['/register']" [active]="false">
        {{'buttons.Register' | translate}}
      </a>

    </nav>
    <mat-card class="panel ">
      <mat-card-title class="panel-heading">
        <span class="glyphicon glyphicon-lock"></span> Login
        <button *ngIf="isModal" type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </mat-card-title>
      <mat-card-content class="panel-body">
        <div class="col-mat-12 ">
          <form *ngIf="formResetToggle" class="form-horizontal login" name="loginForm" #f="ngForm" novalidate (ngSubmit)="f.form.valid ? login():''">
            <mat-form-field>
              <input (focus)="onFocus()" matInput type="email" id="login-email" name="email" placeholder="Enter email" [(ngModel)]="userLogin.email"
                #email="ngModel" required />

            </mat-form-field>
            <mat-form-field>
              <input (focus)="onFocus()" matInput type="password" id="login-password" autocomplete="off" name="password" placeholder="Enter password"
                [(ngModel)]="userLogin.password" #password="ngModel" required />

            </mat-form-field>
            <!-- <mat-checkbox name="rememberMe" [(ngModel)]="userLogin.rememberMe">
                            Remember me
                        </mat-checkbox> -->
            <div class="errors">
              <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <p *ngIf="email.errors.required">Email is
                  <strong>required</strong>
                </p>
                <p *ngIf="email.errors.email">Email is not
                  <strong>valid</strong>
                </p>
              </div>
              <div *ngIf="password.invalid && (password.dirty || password.touched)">
                <p *ngIf="password.errors.required">Password is
                  <strong>required</strong>
                </p>
              </div>
              <p *ngIf="errorMsg">{{errorMsg}}  <a *ngIf="showConfirmEmailLink" [routerLink]="['/resend_email_confirm_code']">Resend email confirmation</a></p>
            </div>
           
            <p>
              <a [routerLink]="['/forgot_password']">Forgot your password?</a>
            </p>
           

            <div style="float: right;">
              <button type="submit" mat-raised-button color="primary" [disabled]="!f.form.valid || isLoading">
                <mat-icon *ngIf="isLoading" class="rotate" aria-hidden="true">autorenew</mat-icon>
                {{isLoading ? ('buttons.LogginIn' | translate) : ('buttons.Login' | translate)}}
              </button>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
