<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="/img/people.svg" />
    <mat-card-title>{{userName}}</mat-card-title>
    <mat-card-subtitle>{{'clientInfo.Balance' | translate}}: {{clientInfo.balance}} DTT</mat-card-subtitle>
  </mat-card-header>
</mat-card>
<hr>
<div *ngIf="isMobile">
    <a mat-list-item  [routerLink]="['/settings']">
      <mat-icon class="mat-24">settings_applications</mat-icon><span>{{'mainMenu.Settings' | translate}}</span>
    </a>
    <a mat-list-item (click)="logout()">
      <mat-icon class="mat-24">exit_to_app</mat-icon><span>{{'mainMenu.Logout' | translate}}</span>
    </a>

</div>
<div *ngIf="!isMobile">
  
  <button mat-menu-item [routerLink]="['/settings']">
      <mat-icon>settings_applications</mat-icon><span>{{'mainMenu.Settings' | translate}}</span>
    </button>
  <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon><span>{{'mainMenu.Logout' | translate}}</span>
    </button>
</div>
