@model string
<html>
<body>
  <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0; background-color: #f1f3fe;" height="100%" width="100%;">
    <tr>
      <td>
        <table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto; padding:0; width:100%; max-width:600px; font-family: Arial, Helvetica, sans-serif; font-size: 15px; color:#223242; line-height: 19px;">
          <tr>
            <td style="padding:20px 0 15px 0; text-align:center;">
              <a href="https://crystals.io/">
                <img src="https://crystals.io/instructions//logo.png" style="border:0;" width="95" alt="">
              </a>
            </td>
          </tr>
          <tr>
            <td style="border-radius:5px; padding:30px; background-color: #fff;">
              <p align="center">Welcome to the <b>CRYSTALS</b> COMMUNITY!</p>
              <p>Thank you so much for signing up for CRYSTALS token sale dashboard. We are excited to see you’ve joined our family, led with an overmastering desire to bring blockchain features into the modeling industry.</p>
              <p>Don’t forget to share your referral link with friends and get <b>5%</b> from their contribution in BTC or ETH!</p>
              <p align="center"><b><a href="@Model">Please, follow this link</a> to confirm your email <br> and participate in the token sale.</b></p>
              <p style="margin-top: 35px;">Best regards,<br><b>CRYSTALS</b> Team
</p>
            </td>
          </tr>
          <tr>
            <td style="padding-top:10px; margin: 0px; max-width: 290px;">
                <div style="">
                  <p style="font-size:12px; color:#000; padding-bottom:10px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; text-align:center;">Follow us:</p>
                  <p style="text-align:center;">
                    <a href="https://www.facebook.com/crystals.project/" target="_blank" style="text-decoration:none; margin:0 10px">
                      <img src="http://crystals.io/instructions/facebook.png" width="29" height="29" alt="facebook">
                    </a>
                    <a href="https://twitter.com/crystals_io" target="_blank" style="text-decoration:none; margin:0 10px">
                      <img src="http://crystals.io/instructions/twitter.png" width="29" height="29" alt="twitter">
                    </a>
                    <a href="https://t.me/crystals_eng" target="_blank" style="text-decoration:none; margin:0 10px">
                      <img src="http://crystals.io/instructions/telegram.png" width="29" height="29" alt="telegram">
                    </a>
                    <a href="https://www.linkedin.com/company/crystalslove/" target="_blank" style="text-decoration:none; margin:0 10px">
                      <img src="http://crystals.io/instructions/linkedin.png" width="29" height="29" alt="linkedin">
                    </a>
                    <a href="https://www.instagram.com/crystals.models/" target="_blank" style="text-decoration:none; margin:0 10px">
                      <img src="http://crystals.io/instructions/instagram.png" width="29" height="29" alt="instagram">
                    </a>
                  </p>
                </div>
            </td>
          </tr>
          <tr>
            <td style="text-align: center; padding-bottom: 30px;">
              <p style="font-size:12px;  margin-top: 35px; color:#b2b2bb;">You received this email because you signed up on our website.</p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table><br><br>
</body>
</html>
