@model string
<html>
<body>


  <style>
    .social img {
      width: 35px;
      height: 35px;
      overflow: hidden;
    }
  </style>
  <img src="http://data-trading.com/images/datatrading_logo_200.png" style="max-width: 150px;">

  <p>
    Thank you very much for your interest in the DataTrading. Click
    <a href="@Model">link</a> to complete your signup.

  </p>
  <p>Once registered, you will be able to take part in the DataTrading token sale.</p>
  <br />
  <br />
  <div>Best Regards</div>
  <div>The DataTrading Team</div>

  <div class="social">
    <a href="https://bitcointalk.org/index.php?topic=2306909.new#new" rel="_blank"><img style="width: 35px;height: 35px;border-radius: 5px;overflow: hidden;" src="http://data-trading.com/images/bitcointalk.png" /></a>
    <a href="https://www.facebook.com/DataTrading" rel="_blank"><img style="width: 35px;height: 35px;border-radius: 5px;overflow: hidden;" src="http://data-trading.com/images/facebook.png" /></a>
    <a href="https://t.me/datatradingENG" rel="_blank"><img style="width: 35px;height: 35px;border-radius: 5px;overflow: hidden;" src="http://data-trading.com/images/telegram.png" /></a>
    <a href="https://twitter.com/datatrading_" rel="_blank"><img style="width: 35px;height: 35px;border-radius: 5px;overflow: hidden;" src="http://data-trading.com/images/twitter.png" /></a>
  </div>
</body>
</html>