<h2>Successful registration!</h2>
<p>
    Email with activation code was sent to
    <b>{{email}}</b>
</p>
<button style="float: right" (click)="close()" mat-raised-button>
    <span>{{'buttons.Close' | translate}}</span>
</button>
<!-- Twitter single-event website tag code -->
<script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
<script type="text/javascript">
    twttr.conversion.trackPid('nzmmf', {
        tw_sale_amount: 0,
        tw_order_quantity: 0
    });
</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=nzmmf&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
<img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=nzmmf&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
</noscript>
<!-- End Twitter single-event website tag code -->