<h2 style="margin-left: 24px">Register rules</h2>

<div style="overflow-y: auto;padding: 0 24px;">
    <p *ngFor="let option of _acceptRules">
        <mat-checkbox [(ngModel)]="option.checked" name="rule" color="primary">
            <div [innerHTML]="option.name"></div>

        </mat-checkbox>

    </p>

</div>


<button (click)="dialogRef.close(_acceptRules)" [disabled]="!acceptAllRules" mat-raised-button>
    <span>Accept</span>
</button>

<button (click)="dialogRef.close(_acceptRules)" mat-raised-button>
  <span>Cancel</span>
</button>