
<div class="vertical-center-flex">
  <div class="login-container center-block">
      <md-card class="panel ">
          <md-card-title class="panel-heading">
              <span class="glyphicon glyphicon-lock"></span> Register
              <button *ngIf="isModal" type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                  <span aria-hidden="true">&times;</span>
              </button>
          </md-card-title>
          <md-card-content class="panel-body">
              <div class="col-md-12 ">
                <form class="form-horizontal login" *ngIf="formResetToggle" #f="ngForm" novalidate (ngSubmit)="OnSubmit()">
                  <div>
                    <md-form-field>
                      <input mdInput id="login-email" type="email" name="email" placeholder="Enter email" [(ngModel)]="registerForm.email" #email="ngModel"
                        required email>
                      <md-error *ngIf="email.invalid && (email.dirty || email.touched)">
            
                        <div *ngIf="email.errors.required">Email is <strong>required</strong></div>
                        <div *ngIf="email.errors.email">Email is not <strong>valid</strong></div>
                      </md-error>
                    </md-form-field>
            
                  </div>
                  <md-form-field>
                    <input mdInput autocomplete="off" type="password" name="password" validateEqual="confirmPassword" placeholder="Enter password" [(ngModel)]="registerForm.password"
                      #password="ngModel" minlength="8" required reverse="true" pattern="^((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$_%&*])).{8,}$">
                    <md-error *ngIf="password.invalid && (password.dirty || password.touched)">
                      <div *ngIf="password.errors.required">Password is <strong>required</strong></div>
                      <div *ngIf="password.errors.minlength">Min length is 8</div>
                      <div *ngIf="password.errors.pattern">Password must contain: 1 UpperCase Alphabet, 1 LowerCase Alphabet, 1 Number and 1 Special Character</div>
                    </md-error>
                  </md-form-field>
                  <md-form-field>
                    <input mdInput autocomplete="off" type="password" name="confirmPassword" reverse="false" validateEqual="password" #confirmPassword="ngModel"
                      placeholder="Confirm password" [(ngModel)]="registerForm.confirmPassword" required>
                    <md-error *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                      Password mismatch
                    </md-error>
             
                  </md-form-field>
            
                  <div>
                    <button type="submit" [disabled]="!f.form.valid" md-raised-button color="primary">
                              <span>Register</span>
                            </button>
                    <span>or</span>
                    <button type="button" [routerLink]="['/login']" md-raised-button color="primary">
                              <span>Login</span>
                            </button>
                  </div>
                </form>
              </div>
          </md-card-content>
      </md-card>
  </div>
</div>

