<div class="vertical-center-flex">
  <div class="login-container center-block">
    <mat-card class="panel ">
      <mat-card-title class="panel-heading">
        <span class="glyphicon glyphicon-lock"></span> Register
      </mat-card-title>
      <mat-card-content class="panel-body">
        <div class="col-mat-12 ">
          <form class="form-horizontal login" *ngIf="formResetToggle" #f="ngForm" novalidate (ngSubmit)="OnSubmit()">
            <div>
              <mat-form-field class="login">
                <input matInput id="login-email" type="email" name="email" placeholder="Enter email" [(ngModel)]="registerForm.email" #email="ngModel"
                  required email>

              </mat-form-field>

            </div>
            <mat-form-field>
              <input matInput autocomplete="off" type="password" name="password" validateEqual="confirmPassword" placeholder="Enter password"
                [(ngModel)]="registerForm.password" #password="ngModel" minlength="8" required reverse="true" pattern="^((?=.*\d)(?=.*[a-z])(?=.*[A-Z])).{8,}$">

            </mat-form-field>
            <mat-form-field>
              <input matInput autocomplete="off" type="password" name="confirmPassword" reverse="false" validateEqual="password" #confirmPassword="ngModel"
                placeholder="Confirm password" [(ngModel)]="registerForm.confirmPassword" required>


            </mat-form-field>
            <div class="errors">
              <div *ngIf="email.invalid && (email.dirty || email.touched)">

                <p *ngIf="email.errors.required">Email is
                  <strong>required</strong>
                </p>
                <p *ngIf="email.errors.email">Email is not
                  <strong>valid</strong>
                </p>
              </div>
              <div *ngIf="password.invalid && (password.dirty || password.touched)">
                <p *ngIf="password.errors.minlength">Min length is 8</p>
                <p *ngIf="password.errors.pattern">Password must contain: 1 UpperCase Alphabet,
                  <br/> 1 LowerCase Alphabet, 1 Number</p>
              </div>

              <p *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"> Password mismatch</p>
              <p *ngIf="errorMsg">{{errorMsg}}</p>
            </div>
            <div style="display: flex;justify-content: space-between;align-items: center;">

              <button type="button" [routerLink]="['/login']" mat-raised-button>
                <span>{{'buttons.Login' | translate}}</span>
              </button>
              <span>{{'other.Or' | translate}}</span>
              <button type="submit" [disabled]="!f.form.valid || isLoading" mat-raised-button color="primary">
                  <mat-icon *ngIf="isLoading" class="rotate" aria-hidden="true">autorenew</mat-icon>
                <span>{{'buttons.Register' | translate}}</span>
              </button>
            </div>
          </form>

        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>